<figure class="author-image">
    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.jpg)">
    <span class="hidden">{{site.author}}'s Picture</span></a>
</figure>
<section class="author">
    <!-- Author Name -->
    <h4> {{ site.author }} </h4>
    <!-- Author Bio -->
    <p> {{ site.author_bio }} </p>
    <section class="author-profiles">
        <a rel="me" class="fa-regular fa-at" href="mailto:{{ site.email }}">
            <span class="hidden">E-mail</span>
        </a>
        <a rel="me" class="fa-brands fa-github-alt" href="https://github.com/{{ site.github }}">
            <span class="hidden">GitHub</span>
        </a>
        <a rel="me" class="fa-brands fa-linkedin-in" href="https://www.linkedin.com/in/{{ site.linkedin }}">
            <span class="hidden">LinkedIn</span>
        </a>
        <a rel="me" class="fa-brands fa-twitter" href="https://twitter.com/{{ site.twitter }}">
            <span class="hidden">Twitter</span>
        </a>
        <a rel="me" class="fa-brands fa-mastodon" href="https://{{ site.mastodon.instance }}/@{{ site.mastodon.handle }}">
            <span class="hidden">Mastodon</span>
        </a>
    </section>
</section>                
